doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/Admin') AdminBase
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/admin') Home
            //- if user
              li
                a(href='/articles/add') Add Article
            li
                a(href='/admin/profile') Profile
          ul.nav.navbar-nav.navbar-right
            // after login
            a(href='/admin') Logout
          //  if user 
              li 
                a(href='/users/logout') Logout
            else
              li
                a(href='/users/register') Register
              li
                a(href='/users/login') Login
    .container
      //- != messages('message', locals)
      //- if errors
      //-   each error, i in errors
      //-     div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr
      footer
        p magazine - nodejs - 2018
    script(src='/bower_components/jquery/dist/jquery.js')  
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/javascripts/ajaxRequest.js')  
