extends ../layout

block content
  h1 #{title}
  form(method='POST', action='/admin/users/add')
    #form-group
      label User Role:
      // input.form-control(name='role', type='text')
      select(name='dropDownRole')
          //- option(value='0') -- Select --
          option(value='Admin', selected= true) Admin
          option(value='Blogger') Blogger
    // #form-group
      label Title:
      input.form-control(name='userId', type='text')
    #form-group
      label Full Name:
      input.form-control(name='fullName', type='text')
    #form-group
      label User Name:
      input.form-control(name='userName', type='text')
    #form-group
      label Password:
      input.form-control(name='password', type='text')
    #form-group
      label Email:
      input.form-control(name='email', type='text')
    br
    input.btn.btn-primary(type='submit', value='Submit')
