extends ../layout

block content
  h1 #{title}
    br
    input.btn.btn-primary(type='submit',value='Delete')
    br
  form(method='POST', action='/admin/users/delete/'+ user.role + "&" + user.userId)
  
    #form-group
      label Type Category:
      input.form-control(name='role', type='text', disabled, value=user.role)
    #form-group
      label Title:
      input.form-control(name='userId', type='text', disabled, value=user.userId)
    #form-group
      label Full Name:
      input.form-control(name='fullName', type='text', disabled, value=user.info.fullName)
    #form-group
      label User Name:
      input.form-control(name='userName', type='text', disabled, value=user.info.userName)
    #form-group
      label Password:
      input.form-control(name='password', type='text', disabled, value=user.info.password)
    #form-group
      label Email:
      input.form-control(name='email', type='text', disabled, value=user.info.email)

