extends ../layout

block content
  h1(style="background-color:SlateBlue;color:White;")= title
  h3 User: #{user.userId}
  h5 Role: #{user.role}
  p= "---Content---"
  hr
  // if user
    if user.id ==article.author
      a.btn.btn-default(href='/articles/edit/'+article._id) Edit 
      a.btn.btn-danger.delete-article(href='#',data-id=article._id) Delete
  p= "full name: " + user.info.fullName
  p= "user name: " + user.info.userName
  p= "password: " + user.info.password
  p= "email: " + user.info.email
  hr
  a.btn.btn-default(href='/admin/users/edit/'+ user.role + "&" + user.userId) Edit 
  a.btn.btn-danger.delete-item(href='#', data-code="users", data-id="/admin/users/" + user.role + "&" + user.userId) Delete
  
