extends ../layout

block content
  h1 #{title}
  form(method='POST', action='/admin/users/edit/'+ user.role + "&" + user.userId)
    #form-group
      label User Role:
      input.form-control(name='role', type='text', disabled, value=user.role)
    #form-group
      label UserId:
      input.form-control(name='userId', type='text', disabled, value=user.userId)
    #form-group
      label Full Name:
      input.form-control(name='fullName', type='text', value=user.info.fullName)
    #form-group
      label User Name:
      input.form-control(name='userName', type='text', value=user.info.userName)
    #form-group
      label Password:
      input.form-control(name='password', type='text', value=user.info.password)
    #form-group
      label Email:
      input.form-control(name='email', type='text', value=user.info.email)
    br
    input.btn.btn-primary(type='submit',value='Submit')
