extends ../layout

block content
  h1 #{title}
  a.btn.btn-default(href='/admin/users/add') Add New User 
  form(method='POST',  action="/admin/users/role")
    #form-group
      input.form-control(name='role', type='text', placeholder="Search role..")
      input.btn.btn-primary(type='submit', value='Search')
  ul.list-group
    each user, i in users
      li.list-group-item
        a(href="/admin/users/"+ user.role + "&" + user.userId)= user.info.fullName