extends ../layout

block content
  h1 #{title}
  ul.list-group
    li.list-group-item( style="background-color:SlateBlue;")
      a(href="/admin/posts")= 'To Posts manager'
    li.list-group-item( style="background-color:LightGray;")
      a(href="/admin/categories")= 'To Categories manager'
    li.list-group-item
      a(href="/admin/contacts")= 'To Contacts manager'
    li.list-group-item( style="background-color:Yellow;")
      a(href="/admin/users")= 'To Users manager'