extends ../layout

block content
  h1 #{title}
  form(method='POST', action='/admin/posts/add')
    #form-group
      label Title:
      input.form-control(name='title', type='text')
    #form-group
      label Author:
      input.form-control(name='author', type='text')
    #form-group
      label Summary:
      input.form-control(name='summary', type='text')
    #form-group
      label Description:
      textarea.form-control(name='description')
    #form-group
      label Category:
      // input.form-control(name='category', type='text')
      select(name='dropDownCate')
            each cate in categories
                option=cate.title
    // #form-group
      label image:
      input.form-control(name='image', type='file', accept="image/*")
    br
    input.btn.btn-primary(type='submit',value='Submit')
