extends ../layout

block content
  h1 #{title}
    br
    input.btn.btn-primary(type='submit',value='Delete')
    br
  form(method='POST', action='/admin/posts/delete/'+ post.author + "&" + post.title)
    #form-group
      label Title:
      input.form-control(name='title', type='text', disabled, value=post.title)
    #form-group
      label Author:
      input.form-control(name='author', type='text', disabled, value=post.author)
    #form-group
      label Summary:
      input.form-control(name='summary', type='text', disabled, value=post.summary)
    #form-group
      label Description:
      textarea.form-control(name='description', disabled)= post.content.description
    #form-group
      label Category:
      input.form-control(name='category', disabled, type='text', value=post.content.category)
    // #form-group
      label image:
      input.form-control(name='image', type='file', accept="image/*")

