extends ../layout

block content
  h1(style="background-color:SlateBlue;color:White;")= title
  h3= post.title
  h5 Written by #{post.author}
  p= "---Content---"
  hr
  // if user
    if user.id ==article.author
      a.btn.btn-default(href='/articles/edit/'+article._id) Edit 
      a.btn.btn-danger.delete-article(href='#',data-id=article._id) Delete
  p= "summary: " + post.content.summary
  p= "description: " + post.content.description
  p= "created time: " + post.content.createdTime
  p= "category: " + post.content.category
  p= "image: "
    img(src=post.content.image)
  hr
  a.btn.btn-default(href='/admin/posts/edit/'+ post.author + "&" + post.title) Edit 
  //- a.btn.btn-danger.delete-article(href='#',data-id=post.author + "&" + post.title) Delete
  a.btn.btn-danger.delete-item(href='#', data-code="posts", data-id="/admin/posts/" + post.author + "&" + post.title) Delete
  
