extends ../layout

block content
  h1 #{title}
  form(method='POST', action='/admin/posts/edit/'+ post.author + "&" + post.title)
    #form-group
      label Title:
      input.form-control(name='title', type='text', disabled, value=post.title)
    #form-group
      label Author:
      input.form-control(name='author', type='text', disabled, value=post.author)
    #form-group
      label Summary:
      input.form-control(name='summary', type='text', value=post.content.summary)
    #form-group
      label Description:
      textarea.form-control(name='description')= post.content.description
    #form-group
      label Category:
      //- input.form-control(name='category', type='text', value=post.content.category)
      select(name='dropDownCate')
            each cate in categories
              option(selected=(cate.title === post.content.category)) #{cate.title}
    // #form-group
      label image:
      input.form-control(name='image', type='file', accept="image/*")
    br
    input.btn.btn-primary(type='submit',value='Submit')
