extends ../layout

block content
  h1 #{title}
  a.btn.btn-default(href='/admin/posts/add') Add New Post 
  form(method='POST',  action="/admin/posts/author")
    #form-group
      input.form-control(name='author', type='text', placeholder="Search author..")
      // button.form-control(type='submit', value="Search") Search
        i(class="fa fa-search")
      input.btn.btn-primary(type='submit',value='Search')
  ul.list-group
    each post, i in posts.Items
      li.list-group-item
        a(href="/admin/posts/"+ post.author + "&" + post.title)= post.title