extends ../layout

block content
  h1 #{title}
  form(method='POST', action='/admin/categories/add')
    #form-group
      label Category Type:
      input.form-control(name='cateType', type='text')
    #form-group
      label Title:
      input.form-control(name='title', type='text')
    #form-group
      label Summary:
      input.form-control(name='summary', type='text')
    #form-group
      label Description:
      textarea.form-control(name='description')
    br
    input.btn.btn-primary(type='submit',value='Submit')
