extends ../layout

block content
  h1 #{title}
    br
    input.btn.btn-primary(type='submit',value='Delete')
    br
  form(method='POST', action='/admin/categories/delete/'+ category.cateType + "&" + category.title)
  
    #form-group
      label Type Category:
      input.form-control(name='cateType', type='text', disabled, value=category.cateType)
    #form-group
      label Title:
      input.form-control(name='title', type='text', disabled, value=category.title)
    #form-group
      label Summary:
      input.form-control(name='summary', type='text', disabled, value=category.info.summary)
    #form-group
      label Description:
      textarea.form-control(name='description', disabled)= category.info.description

