extends ../layout

block content
  h1(style="background-color:SlateBlue;color:White;")= title
  h3= category.title
  h5 Category Type: #{category.cateType}
  p= "---Content---"
  hr
  // if user
    if user.id ==article.author
      a.btn.btn-default(href='/articles/edit/'+article._id) Edit 
      a.btn.btn-danger.delete-article(href='#',data-id=article._id) Delete
  p= "summary: " + category.info.summary
  p= "description: " + category.info.description
  p= "created time: " + category.info.createdTime
  hr
  a.btn.btn-default(href='/admin/categories/edit/'+ category.cateType + "&" + category.title) Edit 
  a.btn.btn-danger.delete-item(href='#', data-code="categories", data-id="/admin/categories/" + category.cateType + "&" + category.title) Delete
  
