extends ../layout

block content
  h1 #{title}
  form(method='POST', action='/admin/categories/edit/'+ category.cateType + "&" + category.title)
    #form-group
      label Type Category:
      input.form-control(name='cateType', type='text', disabled, value=category.cateType)
    #form-group
      label Title:
      input.form-control(name='title', type='text', disabled, value=category.title)
    #form-group
      label Summary:
      input.form-control(name='summary', type='text', value=category.info.summary)
    #form-group
      label Description:
      textarea.form-control(name='description')= category.info.description
    br
    input.btn.btn-primary(type='submit',value='Submit')
