extends ../layout

block content
  h1 #{title}
  a.btn.btn-default(href='/admin/categories/add') Add New Category 
  form(method='POST',  action="/admin/categories/typeCate")
    #form-group
      input.form-control(name='typeCate', type='text', placeholder="Search category type..")
      input.btn.btn-primary(type='submit',value='Search')
  ul.list-group
    each category, i in categories
      li.list-group-item
        a(href="/admin/categories/"+ category.cateType + "&" + category.title)= category.title